

<div class="white-bookatable">
  <!-- Add your image here -->

  <div  class = "contentdetails" *ngIf="contentId === 23">
    <img src="../../../assets/content (25).png" alt="Image 1">
  </div>
  <div class="title"></div>


</div>
<div class="white-backgroundmap">
  <img src="../../../assets/Content (26).png" alt="Description of Image" class="bookatableaddress-image" />

</div>

<div class="white-backgroundfooter">
  <img src="../../../assets/content (27).png" alt="Description of Image" class="bookatablefooter-image" />

</div>









  