<div class="white-backgroundourmenu">
    <p class="dessert-heading">Desserts Works!</p>

  <div class="button-section">
    <div class="card-section">
      <!-- Existing cards -->
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/pexels-ruslan-khmelevsky-7845121 1.png" alt="Product 4">
        </div>
        <div class="card-content">
          <p class="card-price">$20.99</p>
          <h2 class="card-title">Butterscotch Cake</h2>
          <p class="card-description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/pexels-roman-odintsov-5061254 1.png" alt="Product 6">
        </div>
        <div class="card-content">
          <p class="card-price">$18.05</p>
          <h2 class="card-title">Chocolate Icecream</h2>
          <p class="card-description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="../../../assets/pexels-nicola-barts-7937386 1.png" alt="Product 8">
        </div>
        <div class="card-content">
          <p class="card-price">$12.99</p>
          <h2 class="card-title">Classic Waffles</h2>
          <p class="card-description">Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
      </div>
    </div>
  </div>
</div>
