<div class="white-backgroundourmenu">
    <!-- Breakfast Title -->
    <h1 class="breakfast-title">Drinks Works!</h1>
  
    <!-- Card Section -->
    <div class="card-section">
      <!-- First Card (up) -->
      <div class="card card-up">
        <div class="card-image">
          <img src="../../../assets/pexels-nadin-sh-12956424 1.png" alt="Hawaiian Pizza">
        </div>
        <div class="card-content">
            <h2 class="card-title">Martinez Cocktail</h2>
            <p class="card-description">A classic gin-based cocktail with sweet vermouth, maraschino liqueur, and orange bitters.</p>
        </div>
      </div>
  
      <!-- Second Card (down) -->
      <div class="card card-down">
        <div class="card-image">
          <img src="../../../assets/pexels-bam-awey-5335918 1.png" alt="Cheese Burger">
        </div>
        <div class="card-content">
            <h2 class="card-title">Mint Lemonade</h2>
            <p class="card-description">Refreshing lemonade with fresh mint, perfect for a summer afternoon.</p>
        </div>
      </div>
    </div>
</div>
