<router-outlet></router-outlet>

<div class="white-bookatable">
    <!-- Add your image here -->
    <img src="../../../assets/Title (3).png" alt="Description of Image" class="bookatable-image" />

    <div class="title"></div>

    <div class="container mt-5">
        <div class="row">
            <!-- Row 1 -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (13).png" class="card-img-top" alt="Image 1">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (14).png" class="card-img-top" alt="Image 2">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <a [routerLink]="['/content-details', 23]">
                        <img src="../../../assets/content (15).png" class="card-img-top" alt="Image 1">
                    </a>
                    <!-- <img src="../../../assets/content (15).png" class="card-img-top" alt="Image 3"> -->
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (16).png" class="card-img-top" alt="Image 4">
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Row 2 -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (17).png" class="card-img-top" alt="Image 5">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (18).png" class="card-img-top" alt="Image 6">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (19).png" class="card-img-top" alt="Image 7">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (20).png" class="card-img-top" alt="Image 8">
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Row 3 -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (21).png" class="card-img-top" alt="Image 9">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (22).png" class="card-img-top" alt="Image 10">
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <a [routerLink]="['/content-details', 23]">
                        <img src="../../../assets/content (23).png" class="card-img-top" alt="Image 1">
                    </a>
                    <!-- <img src="../../../assets/content (23).png" class="card-img-top" alt="Image 11"> -->
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../../../assets/content (24).png" class="card-img-top" alt="Image 12">
                </div>
            </div>
        </div>


    </div>



</div>



<!-- <div class="white-backgroundmap">
   
</div> -->

<div class="white-backgroundfooter">
    <div class="Exploretwo-content"></div>
</div>